region                       = "eu-central-1"
domain_name                  = "<your-domain-name>"
cicd_platform                = "github"
cicd_repository              = "<your-org/your-repo>"
github_runner_repository_url = "https://github.com/your-org/your-repo"
github_runner_token          = "<your token>"
